@import url('css/bootstrap.css');
@import url('css/mystyle.css');
@import url('icofont/icofont.min.css');
.top_b{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.h1{
    text-align: center;
  }
  .hr-act{
    width: 10vh;
    height: 5px;
    color: rgb(38, 207, 236);
  }
  #card{
    border: 1px solid red;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .test{
    width: 100px;
    height: 100px;
    border: 1px solid red;
  }
  .test{
      display:inline-block;
  }
  .top_b:hover{
      
      margin-left: 10px;
      background-color: rgb(174, 243, 255);
  }
  .img_act{
      height: 6vh;
  }